.title {
  left: 35%;
  width: 33.3333%;
}

.sleepMode {
  right: 45%;
}

.stories {
  height: 40vh;
  width: 80vh;
  position: absolute;
  left: 50%;
  margin-left: -40vh;
  top: 30vh;
  opacity: 1;
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
  transform-origin: 0% 100%;
}

.story-wrapper {
  position: absolute;
  width: 16vh;
  height: 9vh;
  transform-origin: 0% 50%;
  transition: opacity 2s ease-in-out, box-shadow 2s ease-in-out;
  /* transition: transform 1s ease-in-out;
  transform: scale3d(1, 1, 1); */
}
.story-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0,0,0,0.5) 0 0 0 75vw;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.story-wrapper:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  border: 0.2vw solid var(--secondary-color);
  box-sizing: border-box;
}
.story-wrapper.active .story-content {
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.story-wrapper.active {
  /* transform: scale3d(1.5, 1.5, 1.5); */
  z-index: 100;
}
.story-wrapper.playing .story-overlay {
  opacity: 1;
}
.story-wrapper img {
  transition: opacity 2s ease-in-out;
}
.story-wrapper.playing img {
  opacity: 0;
}
.story-wrapper.playing .story-content {
  transition-duration: 3s;
  transform: scale3d(1.5, 1.5, 1.5);
}
.story {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: 0% 50%;
  background: var(--black-color);
}
.story-wrapper.active .story {
  background: var(--primary-color);
}

.information {
  position: absolute;
  width: 16vh;
  height: auto;
  right: -17.5vh;
  top: 0;
  opacity: 0.5;
  text-shadow: 2px 2px #000000;
  transform: translate3d(0, 3vh, 0);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.information-inner {
  transition: transform 2s ease-in-out;
  transform-origin: left top;
}
.information h2 {
  font-size: 1.25vh;
}
.information p {
  font-size: 1vh;
  line-height: 1.8;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.story-wrapper.textRight .information {
  right: auto;
  left: -17.5vh;
  text-align: right;
}
.story-wrapper.textRight .information-inner {
  transform-origin: right top;
}
.story-wrapper.active .information {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.story-wrapper.active .information p {
  opacity: 1;
}
.story-wrapper.playing .information-inner {
  transform: scale3d(0.66667, 0.66667, 0.66667);
}
.story-wrapper.playing .information {
  opacity: 0;
}

.video-container {
  opacity: 0.4;
  transition: opacity 0.5s ease-in-out;
}
.video-container video,
.video-container img {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}
.video-container video {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.story-wrapper.active .video-container {
  opacity: 1;
}
.story-wrapper.playing .video-container video {
  opacity: 1;
}

.loading,
.progress {
  position: absolute;
  width: 100%;
  height: 1.5vh;
  bottom: 0;
  left: 0;
}

.loading {
  background: var(--primary-darker-color);
  transition: bottom 1s ease-in-out;
}
.story-wrapper.active .loading {
  bottom: -1.5vh;
}
.loading-bar,
.progress-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--primary-color);
  transform-origin: 0% 0%;
}
.progress-text {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0.3vh;
  top: 0;
  text-align: right;
  font-size: 0.6vh;
}

.progress {
  background: var(--primary-darker-color);
  opacity: 0;
  bottom: -1.5vh;
  line-height: 1.5vh;
  transition: opacity 1s ease-in-out;
}
.story-wrapper.playing .progress {
  opacity: 1;
}

.transformer {
  /* transition: transform 3s ease-in-out; */
}

.map {
  width: 80vw;
  height: 100vh;
  position: absolute;
  top: -25vh;
  right: 0;
  transition: transform 2s ease-in-out;
  transform-origin: 0% 100%;
}
.map img,
.map svg {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.map svg .filled {
  fill: var(--gray-color);
  transition: fill 2s ease-in-out;
}
.map > div,
.map .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.map .overlay {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.map .overlay.active {
  opacity: 1;
}
.map .label {
  color: #999999;
  position: absolute;
  font-size: 1.2vh;
}
.hunts-point .label {
  right: 22%;
  top: 36%;
}
.downtown .label {
  right: 58%;
  top: 70%;
  text-align: right;
}
.rockaway .label {
  bottom: -20%;
  right: 10%;
}
.coney-island .label {
  left: 34%;
  bottom: -20%;
}
.staten-island .label {
  left: 2%;
  bottom: -10%;
}

#story1 {
  right: 30vh;
  top: -20vh;
  transform-origin: right center;
}
#story1 .story-content {
  transform-origin: left center;
}
#story2 {
  top: 12vh;
  right: 7vh;
  transform-origin: left center;
}
#story2 .story-content {
  transform-origin: left center;
}
#story3 {
  bottom: -6vh;
  right: -16vh;
  transform-origin: right bottom;
}
#story3 .story-content {
  transform-origin: right center;
}
#story4 {
  bottom: -10vh;
  left: 45vh;
  transform-origin: center bottom;
}
#story4 .story-content {
  transform-origin: center bottom;
}
#story5 {
  top: 19vh;
  left: 9vh;
  transform-origin: center bottom;
}
#story5 .story-content {
  transform-origin: center bottom;
}

.sleeping .map,
.sleeping .stories {
  transform: scale3d(0.83, 0.83, 0.83);
}
.sleeping .story-wrapper,
.sleeping .map .overlay.active {
  opacity: 0;
}
.sleeping .story-wrapper.active,
.sleeping .story-wrapper.active:after {
  opacity: 1;
}
.sleeping .story-wrapper.active .story-content {
  opacity: 0;
}
.sleeping .map svg .filled {
  fill: var(--primary-dark-color);
}
