.title,
.sleepMode {
  left: 35%;
}
.title {
  top: 25%;
  width: 33.3333%;
}
.sleepMode {
  bottom: auto;
  top: 33.333333%;
}

.stories {
  height: 40vh;
  width: 80vh;
  position: absolute;
  left: 50%;
  margin-left: -40vh;
  top: 30vh;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.story-wrapper {
  position: absolute;
  width: 16vh;
  height: 9vh;
  transform-origin: 0% 50%;
  /* transition: transform 1s ease-in-out;
  transform: scale3d(1, 1, 1); */
}
.story-wrapper.active {
  /* transform: scale3d(1.5, 1.5, 1.5); */
}
/* .story-wrapper.playing {
  transition-duration: 3s;
  transform: scale3d(1.25, 1.25, 1.25);
} */
.story {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: 0% 50%;
  background: var(--black-color);
}
.story-wrapper.active .story {
  background: var(--primary-color);
}

.information {
  position: absolute;
  width: 16vh;
  height: auto;
  right: -17.5vh;
  top: 0;
  opacity: 0.5;
  transform: translate3d(0, 3vh, 0);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.information h2 {
  font-size: 1vh;
}
.information p {
  font-size: 0.8vh;
  line-height: 1.6;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.story-wrapper.textRight .information {
  right: auto;
  left: -17.5vh;
  text-align: right;
}
.story-wrapper.active .information {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.story-wrapper.active .information p {
  opacity: 1;
}

.video-container {
  opacity: 0.4;
  transition: opacity 0.5s ease-in-out;
}
.video-container video,
.video-container img {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}
.video-container video {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.story-wrapper.active .video-container {
  opacity: 1;
}
.story-wrapper.playing .video-container video {
  opacity: 1;
}

.loading,
.progress {
  position: absolute;
  width: 100%;
  height: 1.5vh;
  bottom: 0;
  left: 0;
}

.loading {
  background: var(--primary-darker-color);
  transition: bottom 1s ease-in-out;
}
.story-wrapper.active .loading {
  bottom: -1.5vh;
}
.loading-bar,
.progress-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--primary-color);
  transform-origin: 0% 0%;
}
.progress-text {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0.3vh;
  top: 0;
  text-align: right;
  font-size: 0.6vh;
}

.progress {
  background: var(--primary-darker-color);
  opacity: 0;
  bottom: -1.5vh;
  line-height: 1.5vh;
  transition: opacity 1s ease-in-out;
}
.story-wrapper.playing .progress {
  opacity: 1;
}

.transformer {
  /* transition: transform 3s ease-in-out; */
}

#story1 {
  right: 30vh;
  top: -20vh;
  transform-origin: right center;
}
#story2 {
  top: 12vh;
  right: 7vh;
}
#story3 {
  bottom: -6vh;
  right: -16vh;
  transform-origin: right bottom;
}
#story4 {
  bottom: -10vh;
  left: 45vh;
  transform-origin: center bottom;
}
#story5 {
  top: 19vh;
  left: 9vh;
  transform-origin: center bottom;
}

.map {
  width: 80%;
  height: 100%;
  position: absolute;
  top: -25vh;
  right: 0;
}
.map img,
.map svg {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.map svg .filled {
  fill: var(--gray-color);
  transition: fill 2s ease-in-out;
}
.map .overlay {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.map .overlay.active {
  opacity: 1;
}

.sleeping .stories,
.sleeping .map .overlay.active {
  opacity: 0;
}
.sleeping .map svg .filled {
  fill: var(--primary-dark-color);
}
