.content.left.introduction {
  height: 60%;
  top: 28%;
}
.content.left.introduction p {
  font-size: 3vh;
  line-height: 1.4;
}

.content.right.graphics {
  height: 60%;
  top: 16%;
  /*border: 0.5rem solid #222;*/
}
.content.right.title {
  height: 80%;
  top: 8%;
  z-index: 10;
}
.content.right.sleepMode {
  z-index: 100;
}

.content.right.messages {
  top: auto;
  bottom: 12%;
  height: 10%;
  text-align: center;
  letter-spacing: 0.05rem;

}
.content.right.messages > div {
  width: 80%;
  margin-left: 14%;
  padding: 1vh 2vh;
  background: #181818;
  box-sizing: border-box;
}
.content.right.messages p {
  margin: 0;
  color: #999;
  line-height: 1.4;
}
.content.right.messages p.highlight {
  font-size: 2vh;
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-bottom: 2px solid #333;
  color: #fff;
}
p.highlight strong {
  color: #f1a051;
}

.title h2 {
  font-weight: normal;
}
