body {
  font-size: 18px;
}

.app {
  background: #000;
  color: #fff;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
