@font-face {
  font-family: Balance;
  src: url(../font/BalanceOffcPro.ttf);
}

/* define global colors */
:root {
  --primary-color: #058599;
  --primary-dark-color: #216d79;
  --primary-darker-color: #1b565f;
  --primary-darkest-color: #0f363c;
  --secondary-color: #c98f20;
  --highlight-color: #e2bb3d;
  --white-color: #d9dfe8;
  --gray-color: #231f20;
  --black-color: #000000;
  --warm-color: #eb5229;
  --cool-color: #99cccc;
}

body {
  font-size: 1vw;
  font-family: Balance, arial, helvetica, sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  color: var(--white-color);
  background-color: var(--black-color);
}
h1 {
  font-size: 3vw;
  letter-spacing: 0.05vw;
}
h2 {
  font-size: 2.6667vw;
}
p {
  font-size: 1.2vw;
}
a {
  color: var(--white-color);
}

.view {
  width: 100vw;
  height: 56.25vw;  /* 1920 x 1080 ratio */
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -28.125vw;
  /* background-color: var(--black-color); */
}

.title,
.content {
  position: absolute;
  width: 60%;
  left: 50%;
  margin-left: -30%;
}

.title {
  text-align: left;
  z-index: 200;
  top: 10%;
  width: 40%;
  position: relative;
  height: 1.8vw;
}
.title:before,
.title:after {
  content: " ";
  display: block;
  position: absolute;
  width: 1vw;
  height: 1.6vw;
  background: var(--primary-color);
  top: 0;
  left: -2vw;
}
.title:after {
  width: 0;
  height: 0;
  background: transparent;
  border-style: solid;
  border-width: 0 0 0.4vw 0.4vw;
  border-color: transparent transparent var(--black-color) transparent;
  left: -1.3vw;
  top: 1.2vw;

}
.title h1 {
  line-height: 1.2;
  font-size: 1.8vw;
  letter-spacing: 0.1vw;
  margin-top: 1vh;
  margin-bottom: 0;
}
.title h2 {
  font-size: 1.333vw;
  letter-spacing: 0.05vw;
  font-weight: normal;
  margin-top: 1.333vh;
  margin-bottom: 0;
  line-height: 1.5;
  color: var(--primary-color);
}

.content {
  box-sizing: border-box;
  top: 30%;
}

.graphics {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sleepMode {
  position: absolute;
  width: 20vw;
  height: 3.65497076023vw;
  background: url(../img/instruction_arrow.svg);
  background-size: 100% auto;
  right: 50%;
  bottom: 5vh;
  box-sizing: border-box;
  text-shadow: 2px 2px #000000;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}
.sleepMode h3 {
  font-size: 1vw;
  margin: -3vh 0 2.4vh 0;
  letter-spacing: 0.06vw;
  color: var(--secondary-color);
}
.sleepMode p {
  font-size: 1vw;
}
.sleepMode.active,
#app.sleeping .sleepMode {
  /* display: block; */
  opacity: 1;
  animation: point 5s linear infinite;
}
/* .sleepMode.active p,
#app.sleeping .sleepMode p {
  animation: blink 3s infinite;
} */

.sidebar {
  position: absolute;
  width: 30vw;
  left: 3vw;
  bottom: 5vh;
  transition: opacity 1s ease-in-out;
}
.sleeping .sidebar {
  opacity: 0;
}

.sleeper {
  position: absolute;
  width: 200vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.globe-sleeper {
  top: 50vh;
}
.particle-sleeper {
  width: 100vw;
  left: 50vw;
}
.sleeper.active {
  opacity: 1;
}
.sleeper.right {
  left: -100vw;
}
.particle-sleeper.right {
  left: -50vw;
}

.ui {
  display: block;
  padding: 2rem 1rem;
  /* background: #00676d; */
  background: rgba(0, 103, 109, 0.9);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
  border-radius: 0.5vh;
}
.ui:after {
  content: "";
  display: table;
  clear: both;
}
.ui-slider {
  display: block;
  width: 30vh;
  height: 2vh;
  position: relative;
  margin-left: 5vh;
  background: rgba(0, 0, 0, 0.2);
  float: left;
}
.ui-slider-handle {
  position: absolute;
  background: #3fc1be;
  border-radius: 0.5vh;
  height: 5vh;
  width: 2.5vh;
  top: -1.5vh;
  margin-left: -1.25vh;
}
.ui-slider-vertical {
  width: 2vh;
  height: 20vh;
}
.ui-slider-horizontal {
  margin-top: 9vh;
}
.ui-slider-vertical .ui-slider-handle {
  height: 2.5vh;
  width: 5vh;
  top: auto;
  left: -1.5vh;
  margin-bottom: -1.25vh;
  margin-left: auto;
}

.ui-touch-region {
  display: block;
  width: 12vh;
  height: 12vh;
  background: #3fc1be;
  position: relative;
  margin: 2vh;
}
.ui-touch-region.rotate {
  border-radius: 6vh;
  cursor: move;
}
.ui-touch-region.rotate:before {
  content: " ";
  position: absolute;
  width: 0.5vh;
  height: 5vh;
  top: 0;
  left: 50%;
  margin-left: -0.25vh;
  background: rgba(0, 0, 0, 0.333);
}

@keyframes point {
  from,
  to {
    transform: translate3d(0, -0.5vw, 0);
  }
  50% {
    transform: translate3d(0, 0.5vw, 0);
  }
}

/* Minimum aspect ratio (for very wide screens) */
@media (min-aspect-ratio: 1920/1080) {
  .view {
    width: 177.777777778vh;
    height: 100vh;
    top: 0;
    left: 50%;
    margin-top: 0;
    margin-left: -88.888888889vh;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
