.sleepMode {
  display: none;
}
.credits {
  text-align: right;
  max-width: 50vw;
  left: auto;
  right: 0;
}

.ui {
  display: block;
  padding: 2rem 0.5rem 1rem;
  /* background: #00676d; */
  background: rgba(0, 103, 109, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
  border-radius: 0.5vh;
  vertical-align: middle;
}
.ui button {
  margin-left: 1rem;
  display: inline-block;
  cursor: pointer;
  height: 4vh;
  line-height: 4vh;
  text-align: center;
  margin-top: -1vh;
  border: none;
  border-radius: 0.5vh;
  font-size: 2vh;
  font-family: sans-serif;
  background: #3fc1be;
}
.ui button:hover,
.ui button.active {
  background: white;
}
.ui:after {
  content: "";
  display: table;
  clear: both;
}
.ui-slider {
  display: block;
  width: 30vh;
  height: 2vh;
  position: relative;
  margin-left: 5vh;
  background: rgba(0, 0, 0, 0.2);
  float: left;
}
.ui-slider-handle {
  position: absolute;
  background: #3fc1be;
  border-radius: 0.5vh;
  height: 5vh;
  width: 2.5vh;
  top: -1.5vh;
  margin-left: -1.25vh;
}
.ui-slider-vertical {
  width: 2vh;
  height: 16vh;
}
.ui-slider-horizontal {
  margin-top: 9vh;
}
.ui-slider-vertical .ui-slider-handle {
  height: 2.5vh;
  width: 5vh;
  top: auto;
  left: -1.5vh;
  margin-bottom: -1.25vh;
  margin-left: auto;
}

.ui-touch-region {
  display: block;
  width: 12vh;
  height: 12vh;
  background: #3fc1be;
  position: relative;
  margin: 2vh;
}
.ui-touch-region.rotate {
  border-radius: 6vh;
  cursor: move;
}
.ui-touch-region.rotate:before {
  content: " ";
  position: absolute;
  width: 0.5vh;
  height: 5vh;
  top: 0;
  left: 50%;
  margin-left: -0.25vh;
  background: rgba(0, 0, 0, 0.333);
}
