.quiz {
  width: 60%;
  top: auto;
  bottom: 0;
  height: 65%;
  left: 50%;
  margin-left: -30%;
}

.quiz-question {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.quiz-question.active {
  opacity: 1;2
}
.quiz-question .imagery {
  transition: opacity 5s;
  opacity: 0;
}
.quiz-question.active .imagery {
  opacity: 1;
}
.q {
  width: 50%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  transition: opacity 1s;
}
.q p {
  font-size: 2vh;
  letter-spacing: 0.1vh;
  line-height: 1.6;
}
.as {

}
.a {

}
.a .label-wrapper {
  width: 16vh;
  height: 16vh;
  line-height: 16vh;
  text-align: center;
  top: 30%;
  left: 30%;
  position: absolute;
  z-index: 1;
  transform: translate3d(0, 50vh, 0);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.a .label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* border-radius: 8vh;
  background: #247086; */
  font-size: 2vh;
  letter-spacing: 0.1vh;
  text-transform: uppercase;
  z-index: 10;
}
.a .label:before {
  content: " ";
  width: 0.25vh;
  height: 100vh;
  background: #5ebfec;
  position: absolute;
  left: 50%;
  margin-left: -0.125vh;
  top: 10.333vh;
}
.a.circle .label {
  border-radius: 8vh;
  border: 0.3vh solid #5ebfec;
}
.a.circle .label:before {
  top: 16.1vh;
}
.a:last-child .label:before {
  background: #cedf78;
}
.a.circle:last-child .label{
  border-color: #cedf78;
}
.a.hover {
  animation: hover 10s infinite;
}
.a.hover:last-child {
  animation-delay: 5s;
}
.quiz-question.answered .a.hover {
  animation: none;
}
.a:last-child .label-wrapper {
  left: auto;
  right: 30%;
}
.a:last-child .label {
  /* background: #cb832d; */
}
.label-wrapper .left,
.label-wrapper .right,
.label-wrapper .center {
  position: absolute;
  top: 50%;
  height: 2vh;
  line-height: 2vh;
  margin-top: -1vh;
  white-space: nowrap;
  overflow: visible;
  width: 250%;
}
.label-wrapper .left {
  left: -260%;
  text-align: right;
}
.label-wrapper .right {
  right: -260%;
  text-align: left;
}
.label-wrapper .center {
  right: -155%;
  text-align: center;
}
.quiz-question.active .label-wrapper {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.quiz-question.answered .left,
.quiz-question.answered .right,
.quiz-question.answered .center,
.quiz-question.answered .a {
  opacity: 0;
}
.quiz-question.answered .a.active {
  opacity: 1;
}
.quiz-question.answered .a.active .label-wrapper > * {
  animation: shake 1s;
}
.quiz-question.answered .a.active.correct .label-wrapper > * {
  animation: tada 1s;
}
.quiz-prompts .quiz-question.answered .a.active .label-wrapper > * {
  animation: bounce 1s;
}
.quiz-question.answered .q {
  opacity: 0;
}

.arrow {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-left: 3vh solid transparent;
  border-right: 3vh solid transparent;
  border-top: 3vh solid #5ebfec;
  position: fixed;
  bottom: -0.2%;
  left: 40.8%;
}
.arrow:last-child {
  border-top: 3vh solid #cedf78;
  left: auto;
  right: 40.8%;
}
.quiz-question.answered .arrow {
  display: none;
}
/*
.quiz-question.answered .label-wrapper {
  transform: scale(0.6);
  opacity: 0.2;
}
.quiz-question.answered .a.active .label-wrapper {
  opacity: 1;
}
.quiz-question.answered .a.active .label {
  animation: tada 1s;
} */
.a .feedback {
  position: absolute;
  top: 50%;
  width: 33.3333%;
  left: 50%;
  animation: bounceOutDown 0s;
  animation-fill-mode: both;
  z-index: 2;
}
.a:last-child .feedback {
  right: 50%;
  left: auto;
}
.a .feedback p {
  font-size: 1.6vh;
  line-height: 1.8;
  letter-spacing: 0.05vh;
}
.a .feedback p strong {
  color: #faa519;
}
.a .feedback p strong:first-child {
  text-transform: uppercase;
  display: block;
  margin-bottom: 1vh;
  font-size: 1.8vh;
}
.a.active .feedback {
  animation: bounceInUp 1s;
}

.progress {
  position: fixed;
  top: 18vh;
  left: 5vw;
  color: #faa519;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.progress.active {
  opacity: 1;
}
