.graphics,
.messages,
.sleepMode {
  top: 25vh;
  left: 25vw;
  width: 50vw;
  height: 32vw;
}

.sleepMode {
  width: 42vw;
  left: 46vw;
  top: 0;
}

.messages {
  position: absolute;
}
.message {
  position: absolute;
  width: 25%;
  height: auto;
  box-sizing: border-box;
  padding: 0 1.5vh;
  border-radius: 0.5vh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background: #4e5154;
  border-top: 1vh solid white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.message:after {
  content: "";
  display: table;
  clear: both;
}
.message img {
  width: 25%;
  height: auto;
  display: block;
  float: left;
  margin-top: 1vh;
}
.message .text {
  width: 70%;
  float: right;
}
.message h3 {
  font-size: 1.2vh;
  margin: 1vh 0 0;
  letter-spacing: 0.1vh;
}
.message p {
  font-size: 0.9vh;
  line-height: 1.5;
}
.message.active {
  opacity: 1;
}
