.view,
.content {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: auto;
  left: auto;
  margin: 0;
}
.graphics {
  position: absolute;
  width: 90vw;
  height: 50vw;
  left: 50%;
  top: 50%;
  margin-top: -25vw;
  margin-left: -45vw;
}

.messages,
.key {
  position: absolute;
  bottom: 10px;
  top: auto;
  height: 110px;
}
.messages {
  width: 60%;
  z-index: 100;
  left: auto;
  right: 3%;
}
.key {
  width: 33%;
  height: 100px;
  left: 3%;
  padding: 0;
  font-size: 1.8vh;
  opacity: 1;
  color: var(--gray-lightest-color);
  white-space: nowrap;
  font-size: 1.5vmin;
}

.message,
.message.large {
  width: 100%;
  height: 100%;
  border: 2px solid;
  box-sizing: border-box;
  vertical-align: top;
  top: 0 !important;
  left: 0 !important;
}
.message h3 {
  font-size: 2vh;
}
.message p {
  font-size: 1.6vmin;
}
.message .text,
.message img {
  display: inline-block;
  position: relative;
  top: auto;
  left: auto;
  vertical-align: top;
}
.message img  {
  height: auto;
  width: 80px;
  margin: 10px 0 0 10px
}
.message .text {
  width: calc(100% - 120px);
}

.ui {
  width: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
}
.ui::after {
  content: "";
  clear: both;
  display: table;
}
.ui button {
  display: block;
  width: calc(33.33333333% - 19px); /* account for margin and scrollbar */
  height: 40px;
  line-height: 40px;
  padding: 0;
  float: left;
  margin: 10px 0 0 10px;
  box-sizing: border-box;
  transition: opacity 0.5s;
  cursor: pointer;
  border-width: 1px;
  font-size: 1rem;
  white-space: nowrap;
}

.message svg, .message polygon {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  display: inline-block;
}

/* #message-orbital {
  margin-left: 10%;
}
#message-solar {
  margin-top: -11%;
}
#message-volcanic {
  margin-left: 10%;
  margin-top: -35%;
}
#message-aerosols {
  margin-top: -35%;
  margin-left: -10%;
}
#message-ghgs {
  margin-top: 2%;
  margin-left: -10%;
}
#message-all {
  margin-left: -40%;
  margin-top: 1%;
} */


#button-orbital,
#message-orbital {
  background: #00243e;
  color: #5ec0ed;
  border-color: #5ec0ed;
}
#button-solar,
#message-solar {
  background: #320000;
  color: #fd8224;
  border-color: #fd8224;
}
#button-orbital,
#message-orbital {
  background: #00243e;
  color: #5ec0ed;
  border-color: #5ec0ed;
}
#button-volcanic,
#message-volcanic {
  background: #2d0018;
  color: #ed1c24;
  border-color: #ed1c24;
}
#button-aerosols,
#message-aerosols {
  background: #37142c;
  color: #d29ac5;
  border-color: #d29ac5;
}
#button-ghgs,
#message-ghgs {
  background: #1f3528;
  color: #5fac55;
  border-color: #5fac55;
}
#button-all,
#message-all {
  background: #2d3900;
  color: #cab61f;
  border-color: #cab61f;
}

#button-orbital.active {
  background: #5ec0ed;
  color: #00243e;
  border-color: #00243e;
}
#button-solar.active {
  background: #fd8224;
  color: #320000;
  border-color: #320000;
}
#button-orbital.active {
  background: #5ec0ed;
  color: #00243e;
  border-color: #00243e;
}
#button-volcanic.active {
  background: #ed1c24;
  color: #2d0018;
  border-color: #2d0018;
}
#button-aerosols.active {
  background: #d29ac5;
  color: #37142c;
  border-color: #37142c;
}
#button-ghgs.active {
  background: #5fac55;
  color: #1f3528;
  border-color: #1f3528;
}
#button-all.active {
  background: #cab61f;
  color: #2d3900;
  border-color: #2d3900;
}

#message-orbital p,
#message-solar p,
#message-orbital p,
#message-volcanic p,
#message-aerosols p,
#message-ghgs p,
#message-all p {
  color: white;
}

/* (very wide screens) */
@media only screen and (min-aspect-ratio: 5/3) {
  .graphics {
    height: 40vw;
    margin-top: -20vw;
  }
}

/* (very tall screens) */
@media only screen and (max-aspect-ratio: 7/9) {
  .graphics {
    height: 60vw;
    margin-top: -45vw;
  }
  .key {
    width: 50%;
    font-size: 1rem;
  }
  .key .line {
    width: 5vh;
    height: 0.2vh;
  }
  .key .bracket svg {
    height: 3vh;
    width: 0.676vh;
  }
  .messages {
    bottom: auto;
    top: 50%;
    left: 50%;
    margin-top: 110px;
    margin-left: -30%;
    height: auto;
  }
  .message, .message.large {
    height: auto;
  }
  .message .text {
    margin-left: 0.5rem;
  }
  .message p {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 500px) {
  .ui button {
    width: calc(33.33333333% - 10px);
    font-size: 0.7rem;
    height: 30px;
    line-height: 30px;
    margin: 5px 0 0 5px;
  }
  .message img {
    display: none;
  }
  .message .text {
    width: auto;
  }
}
