.title,
.content,
.credits {
  width: 43.8vw;
  margin-left: -21.9vw;
  left: 44.5%;
}

.sleepMode {
  right: 45%;
}

.title {
  width: 35vw;
}
.slideshow {
  position: relative;
  width: 43.8vw;
  height: 23.5vw;  /* images are 1366 x 768 */
  overflow: hidden;
  transition: width 2s ease-in-out;
}
.sleeping .slideshow {
  width: 41.8vw;
}

.captions,
.globe {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}
.sleeping .captions,
.sleeping .globe {
  opacity: 0;
}

.slideshow:after {
  content: " ";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2vw;
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  transform: translateZ(0);
}
.slideshow-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: left 1s ease-in-out;
}
.slideshow-wrapper.resetting {
  transition: none;
}
.slideshow-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
.slide {
  display: block;
  float: left;
  position: relative;
}
.slide .image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: no-repeat;
  background-size: auto 100%;
  background-position: top left;
  overflow: hidden;
}
.slide .image.after {
  width: 50%;
  left: auto;
  right: 0;
  background-position: top right;
}
.slide .label {
  position: absolute;
  top: 3%;
  left: 1vh;
  font-size: 2.4vh;
  white-space: nowrap;
  text-shadow: 0.2vh 0.2vh 0.25vh rgba(0,0,0,0.8);
  color: #fff;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.slide .label:before {
  content: "";
  display: block;
  font-size: 0.5em;
  letter-spacing: 0.2vh;
  color: #ccc;
  text-transform: uppercase;
  margin-bottom: 0.5vh;
}
.slide.active .label {
  opacity: 1;
}
.slide .image.after .label {
  left: auto;
  right: 1vh;
  text-align: right;
}
.slide .image.after .label:before {
  content: "";
}
.slide .marker {
  content: " ";
  width: 0.2vw;
  margin-left: -0.1vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--highlight-color);
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  z-index: 20;
  transition: background-color 2s ease-in-out, width 2s ease-in-out, margin 2s ease-in-out;
  opacity: 0;
}
.slide.active .marker {
  opacity: 1;
}
/* used for sleeping state */
.slide .image:before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  background: var(--primary-darker-color);
}
.slide .image.after:before {
  background: var(--primary-dark-color);
}
.sleeping .slide .image:before {
  opacity: 1;
}
.sleeping .slide .marker {
  background: var(--secondary-color);
  width: 1vw;
  margin-left: -0.5vw;
}

.globe,
.captions {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
}
.globe {
  width: 8vw;
  height: 8vw;
  left: 50%;
  margin-left: -4vw;
  bottom: -9.5vw;
  top: auto;
}
.captions {
  width: 16vw;
  height: auto;
  left: auto;
  right: -17vw;
}
.caption {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.caption.active {
  opacity: 1;
}
.caption p {
  margin: 0.5rem 0;
  font-size: 1.333vh;
  line-height: 1.8;
  /* max-height: 2.8rem;
  overflow: hidden; */
}
.caption h2 {
  font-size: 1.8vh;
  line-height: 1.5;
  font-weight: normal;
  margin-top: 1vh;
}
.caption h2 span,
.caption p span {
  white-space: nowrap;
}

.title h2 {
  font-weight: normal;
}

.credits {
  height: 1.2vh;
}

.credit {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Disable pointer events for non-active credits */
}
.credit.active {
  opacity: 1;
  pointer-events: auto; /* Enable pointer events for the active credit */
}

.credit p {
  color: var(--gray-light-color);
}
.credit a {
  text-decoration: none;
  color: var(--gray-light-color);
}

.progress-dots {
  margin-top: 1vh;
  width: 100%;
}

.ui-slider-horizontal {
  margin-top: 0;
  margin-left: 0;
}
