.map {
  position: relative;
  width: 40vw;
  height: 20vw;
  top: 50%;
  transform: translateY(-70%);
  background: url(../img/worldmap.png) 0 0 no-repeat;
  background-size: 100% auto;
  margin-left: 10vw;
}
.map img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.map-label {
  position: absolute;
  width: 100%;
  height: 10vh;
  top: -9vh;
  text-align: center;
}
.map-label h2 {
  font-size: 2vh;
  color: #f1a051;
  font-weight: normal;
  display: inline-block;
}
.map-label h2 .map-year {
  color: #fff;
  display: inline-block;
  padding: 0.2vh 0;
  font-weight: bold;
  border-bottom: 0.4vh solid #fff;
}
.map-key {
  position: absolute;
  width: 100%;
  height: 12vh;
  bottom: -15vh;
}
.map-key img {
  display: block;
  width: 97%;
  height: auto;
  margin: 0 auto;
}
.helper {
  width: 100%;
  height: 6vh;
  border: 2px solid #777c7b;
  position: absolute;
  left: 0;
  top: 0;
  /* display: none; */
  box-sizing: border-box;
  outline: 1px solid transparent;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
  border-top-left-radius: 0.5vh;
  border-bottom-left-radius: 0.5vh;
}
.helper:after {
  content: " ";
  display: block;
  background: #000;
  width: 2px;
  height: 100%;
  position: absolute;
  right: -2px;
  top: 0;
  box-sizing: border-box;
}
.graph {
  position: absolute;
  top: 50%;
  right: -20vw;
  width: 20vw;
  height: 12vw;
  margin-top: -5.25vw;
  border: 2px solid #777c7b;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0.5vh;
}
.graph-message {
  display: block;
  position: absolute;
  width: 10vw;
  height: 12vw;
  right: -11vw;
  top: 2vw;
  text-align: left;
}
.graph-message p {
  font-size: 1.5vh;
  line-height: 1.6;
}
.worldmap {
  z-index: -1;
}

.cities {}
.city {
  position: absolute;
  display: block;
  font-size: 1vh;
  line-height: 1vh;
  vertical-align: middle;
  height: 1vh;
  margin-left: 0.25vh;
  margin-top: -0.33vh;
}
.city span {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.city:before {
  content: " ";
  display: inline-block;
  width: 0.5vh;
  height: 0.5vh;
  background: white;
  margin-right: 0.5vh;
  border-radius: 0.25vh;
  opacity: 0.2;
  transition: opacity 0.5s ease-in-out;
}
.city.active span {
  opacity: 1;
}
.city.active:before {
  opacity: 1;
}
