.content {
  width: 33.33333vw;
  top: 27%;
  transform-origin: 50% 50%;
  transform: scale3d(1, 1, 1);
  transition: transform 2s ease-in-out;
}

.title {
  left: 62%;
}
.content {
  left: 48%;
}

.map {
  position: relative;
  width: 50vw;
  height: 25vw;
  background: url(../img/map.svg) 0 0 no-repeat;
  background-size: 100% auto;
}
.map > * {
  transition: opacity 2s ease-in-out;
}
.map > img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.map-key {
  padding-top: 26vw;
  width: 70%;
  margin: 2vw auto 0;
}
.map-key > div {
  float: left;
  margin-right: 1vw;
  position: relative;
  height: 5vw;
}
.map-key .hh {
  height: 2.5vw;
  line-height: 2.5vw;
}
.map-key .dots {
  width: 27%;
}
.map-key .dots div {
  background: no-repeat;
  background-position: right center;
  width: 100%;
}
.map-key .dots .warmer {
  background-image: url(../img/map_key_warmer.png);
}
.map-key .dots .cooler {
  background-image: url(../img/map_key_cooler.png);
}
.map-key .labels .warmer {
  color: var(--warm-color);
}
.map-key .labels .cooler {
  color: var(--cool-color);
}
.map-key .bracket svg {
  height: 3vw;
  width: 0.676vw;
  display: block;
  margin-top: 1vw;
}
.map-key .bracket polyline {
  stroke: var(--gray-light-color);
  stroke-width: 0.3vw;
  fill: none;
  stroke-miterlimit: 10;
}
.map-key .description {
  color: var(--gray-light-color);
  font-size: 0.8vw;
  line-height: 1.667;
  margin-top: 1vw;
}
.helper {
  width: 116%;
  height: 3.333vw;
  border: 0.1667vw solid var(--primary-dark-color);
  position: absolute;
  left: -10%;
  top: 0;
  /* display: none; */
  box-sizing: border-box;
  outline: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
  border-right: none;
}
.helper .corner {
  transition: opacity 1s ease-in-out;
  position: absolute;
  border: 0.1667vw solid var(--primary-dark-color);
  border-left: none;
  box-sizing: border-box;
  width: 2vw;
  height: 2vw;
  right: -1vw;
  z-index: 10;
}
.helper .corner.top {
  border-top: none;
  border-bottom-right-radius: 0.8vw;
  top: -2vw;
}
.helper .corner.bottom {
  border-bottom: none;
  border-top-right-radius: 0.8vw;
  bottom: -2.01vw;
}
.helper .label {
  position: absolute;
  font-size: 0.6vw;
  height: 1vw;
  top: 50%;
  margin-top: -0.5vw;
  color: var(--secondary-color);
  transition: opacity 1s ease-in-out;
}
.helper .label.map-year {
  left: 0.8vw;
}
.helper .label.map-latitude {
  right: 0;
  height: 2vw;
  margin-top: -1vw;
}
.helper .label.map-latitude > div {
  height: 50%;
  box-sizing: border-box;
  padding-top: 0.275vh;
}
.map .helper {
  transition: border-color 1s ease-in-out;
}
.graph {
  position: absolute;
  top: -2vh;
  right: -21.4vw;
  width: 20vw;
  height: 12vw;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0.5vh;
  border-top-left-radius: 0;
  transition: opacity 2s ease-in-out;
}
.graph-title {
  position: absolute;
  top: -30%;
  text-align: center;
  width: 100%;
}
.graph-title h3 {
  font-size: 0.75vw;
  font-weight: normal;
  line-height: 1.5;
}
.graph-title h3 span,
.map-latitude {
  color: var(--secondary-color);
}
.graph-messages {
  display: block;
  position: absolute;
  width: 15vw;
  height: 9vw;
  top: -6.6667vw;
  text-align: left;
  left: 3.3333vw;
}
.message {
  display: none;
}
.message.active {
  display: block;
}
.message h3 {
  font-size: 0.8vw;
  margin-top: 1.33vw;
  letter-spacing: 0.05vw;
}
.message p {
  font-size: 0.6vw;
  line-height: 1.6;
  font-weight: normal;
  letter-spacing: 0.05vw;
}
.worldmap-resting {
  opacity: 0;
}
.worldmap {
  z-index: 0;
}

.cities {}
.city {
  position: absolute;
  display: block;
  font-size: 1vh;
  line-height: 1vh;
  vertical-align: middle;
  height: 1vh;
  margin-left: -0.3vh;
  margin-top: -0.6vh;
  color: var(--secondary-color);
}
.city span {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.city:before {
  content: " ";
  display: inline-block;
  width: 0.5vh;
  height: 0.5vh;
  background: var(--secondary-color);
  margin-right: 0.5vh;
  border-radius: 0.25vh;
  opacity: 0.2;
  transition: opacity 0.5s ease-in-out;
}
.city.active span {
  opacity: 1;
}
.city.active:before {
  opacity: 1;
}


.sleeping .map {
  background: none;
}
.sleeping .map > *,
.sleeping .graph {
  opacity: 0;
}
.sleeping .map .helper {
  opacity: 1;
  border: 0.1667vw solid var(--secondary-color);
  border-radius: 1vw;
}
.sleeping .map .helper .label,
.sleeping .map .helper .corner {
  opacity: 0;
}

.sleeping .content {
  /* transform: scale3d(1.1, 1.1, 1.1); */
}
.sleeping .map > .worldmap-resting {
  opacity: 1;
}
