.content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.map {
  left: 8vw;
  top: 50%;
  margin-top: -18vw;
}

.graph {
  position: absolute;
  top: -2vh;
  right: -37vw;
  width: 36vw;
  height: 20vw;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0.5vh;
  border-top-left-radius: 0;
  transition: opacity 2s ease-in-out;
}
.graph-messages {
  width: 80%;
  height: 9vw;
  top: -8vw;
  left: 6vw;
}

.message h3 {
  font-size: 1.6vw;
  margin: 0;
}
.message p {
  font-size: 1.2vw;
  margin: 1vw 0 0;
}

.map-key > div {
  margin-right: 0.9vw;
}
.map-key .description {
  font-size: 1.2vw;
  margin-right: 0;
  color: var(--gray-lightest-color);
}

.helper .label {
  font-size: 1vw;
}
.city {
  font-size: 1vw;
}

.ui {
  background: none;
  width: 100%;
  height: 100%;
}
.ui-slider-vertical {
  width: 116%;
  height: 88.888888888%;
  margin: 0;
  top: 0;
  left: -10%;
}
.ui-slider-vertical .ui-slider-handle {
  width: 100%;
  height: 11.1111111%;
  left: 0;
  margin-bottom: -5.5%;
  background: none;
  outline: none;
}
.ui-slider-horizontal {
  height: 16px;
  top: -28px;
  width: 100%;
  left: auto;
  right: 0;
  margin: 0;
  background: var(--primary-darker-color);
  border-radius: 4px;
}

.graph-title h3 span,
.map-latitude,
.helper .label,
.city {
  color: #EED896;
}
