.title {
  left: 63.75%;
}
.title h2 {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  padding-bottom: 1.2vw;
}
.sleeping .title h2 {
  opacity: 1;
  background: #000;
}
.content {
  top: 0;
  height: 100%;
  position: fixed;
  width: 100%;
  left: 0;
  margin: 0;
}

.sleepMode {
  text-align: center;
}

.network {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.fact-boxes {
  position: absolute;
  width: 13%;
  height: auto;
  left: 5%;
  bottom: 5%;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}
.fact-box {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.fact-box.active {
  opacity: 1;
}
.fact-box img {
  display: block;
  width: 100%;
  height: auto;
}
.fact-box .caption {
  line-height: 1.8;
  font-size: 1.5vh;
  margin-top: 1vh;
}
.sleeping .fact-boxes {
  opacity: 0;
}
