.title {
  left: 72%;
}
.title h2 {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  padding-bottom: 2.133vh;
}
.sleeping .title h2 {
  opacity: 1;
  /* background: #000; */
}
.content {
  top: 0;
  height: 100%;
  position: fixed;
  width: 100%;
  left: 0;
  margin: 0;
}

.sleepMode {
  right: 35%;
}

.network,
.progress-dots,
.credits {
  width: 60%;
  margin-left: -33.33333%;
  left: 55%;
}

.network {
  height: 90%;
  position: absolute;
  top: 0;
}


.fact-boxes {
  position: absolute;
  width: 13%;
  height: auto;
  left: 10%;
  bottom: 40.5%;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}
.fact-box {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  color: var(--primary-color);
}
.fact-box.active {
  opacity: 1;
}
.fact-box .image {
  position: relative;
}
.fact-box img {
  display: block;
  width: 100%;
  height: auto;
}
.fact-box .caption {
  line-height: 1.8;
  font-size: 1.25vh;
  margin-top: 1.5vh;
}
.fact-box .tab {
  position: absolute;
  background: var(--black-color);
  bottom: 0;
  left: 0;
  width: 42%;
  height: 2.133vh;
}
.fact-box .tab:before {
  content: "CASE STUDY";
  font-size: 1.3vh;
  white-space: nowrap;
  letter-spacing: 0.1vh;
}
.fact-box .tab:after {
  content: " ";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2.133vh 0 0 2.133vh;
  border-color: transparent transparent transparent var(--black-color);
  right: -2.133vh;
  bottom: 0;
}
.sleeping .fact-boxes {
  opacity: 0;
}

.progress-dots {
  position: absolute;
  bottom: 10vh;
}
.progress-dots > div {
  /* margin-left: 10vw; */
}

.images-wrapper {
  transition: opacity 2s ease-in-out;
}
.images {
  transform-origin: 50% 50%;
}
.images .image-wrapper {
  position: absolute;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  transition-delay: 1s;
  visibility: hidden;
}
.images .image {
  clip-path: circle(50%);
  position: absolute;
  top: 0;
  left: 0;
}
.images .image-wrapper.active {
  opacity: 1;
  visibility: visible;
}
.sleeping .images-wrapper {
  opacity: 0;
}
