.network {
  top: -15%;
  height: 115%;
  width: 85%;
  left: 55%;
  margin-left: -40%;
}
.fact-boxes {
  width: 18%;
  height: 38%;
  left: 2%;
  bottom: 2%;
}
.fact-box .caption {
  font-size: 1.6vh;
}
.fact-box .tab:before {
  font-size: 1.6vh;
  line-height: 1;
  vertical-align: middle;
}
.ui {
  background: none;
  width: 96%;
  height: 100%;
  top: 0;
  left: 2%;
}
.ui button {
  display: block;
  margin: 0;
  height: 6vh;
  line-height: 6vh;
  text-align: center;
  border-radius: 1vh;
  font-size: 4vh;
  position: absolute;
  top: 33.3333%;
}
#button-prev {
  left: 0;
}
#button-next {
  right: 0;
}
