.content {
  top: 26.666667%;
}
.title {
  left: 56%;
}

.sleepMode {
  right: 40%;
}

.credits {

}

.content,
.title {
  width: 56%;
  margin-left: -28%;
}

.globes-wrapper {
  width: 100%;
  position: relative;
  height: 26.6667vw;
  margin-top: 3%;
}
.globes,
.content-container {
  position: absolute;
  width: 150%;
  height: 100%;
  left: 50%;
  top: 0;
  margin-left: -75%;
}
.globe {
  position: absolute;
  width: 33.33333%;
  height: 100%;
  top: 0;
  left: 16.66667%;
}
.globe:last-child {
  left: auto;
  right: 16.66667%;
}
.globe h2,
.globe h3 {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.8;
  color: var(--primary-color);
  margin: 0 0 0 6vw;
}
.globe h2 {
  color: var(--white-color);
  font-size: 1.3rem;
  margin-top: -4vh;
}
.globe canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.key {
  width: 23vw;
  position: relative;
  margin: 4vw auto 0;
}
.key:after {
  content: "";
  display: table;
  clear: both;
}
.calendar-key,
.color-key {
  float: left;
}

.calendar-key {
  width: 5vw;
  height: 5vw;
  position: relative;
  -webkit-transform: translateZ(0);
}
.calendar {
  position: absolute;
  top: -2vw;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.1vw solid var(--gray-light-color);
}
.calendar-mo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 5vw;
  text-align: center;
  font-size: 1.5vh;
  letter-spacing: 0.1vh;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.calendar-mo.active {
  opacity: 1;
}
.calendar-year {
  position: absolute;
  bottom: -1.6vw;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.4vh;
  letter-spacing: 0.1vh;
}
.orbit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;
}
.planet {
  width: 0.6vw;
  height: 0.6vw;
  border-radius: 50%;
  background: var(--white-color);
  position: absolute;
  top: 0.1vw;
  left: 50%;
  margin-left: -0.3vw;
}

.color-key {
  position: relative;
  width: 18vw;
  height: 1vw;
  line-height: 1vw;
  margin: 0;
}
.color-key-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}
.color-key .label {
  position: absolute;
  text-align: center;
  top: 0;
  height: 100%;
  width: 25%;
  font-size: 0.8vw;
  letter-spacing: 0.01vw;
  color: var(--primary-dark-color);
}
.color-key .label:first-child {
  left: 0;
  color: var(--cool-color);
  text-align: right;
  padding-right: 0.4vw;
  box-sizing: border-box;
}
.color-key .label:last-child {
  right: 0;
  color: var(--warm-color);
  text-align: left;
  padding-left: 0.4vw;
  box-sizing: border-box;
}
.color-key .canvas-wrapper {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  top: 0;
  margin-left: -25%;
}
.color-key .canvas-wrapper:before,
.color-key .canvas-wrapper:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
	height: 0;
	border-top: 1.1vw solid var(--black-color);
	border-right: 1.1vw solid transparent;
  left: -0.1vh;
  top: -0.1vh;
  z-index: 1;
}
.color-key .canvas-wrapper:after {
  left: auto;
  top: auto;
  bottom: -0.1vh;
  right: -0.1vh;
  border: none;
  border-bottom: 1.1vw solid var(--black-color);
	border-left: 1.1vw solid transparent;
}

.annotation {
  position: absolute;
  top: 10%;
  left: 2%;
  width: 16%;
  opacity: 0;
  transition: opacity 1s;
}
.annotation.content-both {
  left: 50%;
  margin-left: -6.5%;
  top: auto;
  bottom: 5%;
}
.annotation.content-atmosphere {
  left: auto;
  right: 2%;
  top: 40%;
}
.annotation.content-ocean {
  left: auto;
  top: 40%;
  left: 2%;
}
.annotation.content-hidden {
  visibility: hidden;
}
.annotation.content-image img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  display: block;
}
.annotation h3 {
  font-weight: normal;
  font-size: 1.6vh;
  letter-spacing: 0.05vh;
  margin-bottom: 0;
}
.annotation p {
  font-weight: normal;
  font-size: 1.2vh;
  line-height: 1.6;
  letter-spacing: 0.05vh;
  margin-top: 1vh;
}
.annotation.active {
  opacity: 1;
}

.key,
.content-container,
.globe h2,
/* .globe canvas:last-child, */
.globe h3 {
  transition: opacity 2s ease-in-out;
}
.sleeping .key,
.sleeping .content-container,
/* .sleeping .globe canvas:last-child, */
.sleeping .globe h2,
.sleeping .globe h3 {
  opacity: 0;
}

#content-hadley-current {
  top: 50%;
}
#image-hadley-current {
  width: 33.33333%;
  height: 100%;
  left: auto;
  right: 16.66667%;
  transform-origin: 50% 50%;
  transform: rotate(23.5deg);
}
#image-hadley-current img {
  position: absolute;
  width: auto;
  height: 55%;
  left: auto;
  right: 16%;
  top: 12.5%;
}
