.content {
  top: 26.666667%;
}
.title {
  left: 56%;
}

.sleepMode {
  right: 40%;
}

.content,
.title {
  width: 50%;
  margin-left: -25%;
}

.globes-wrapper {
  width: 100%;
  position: relative;
  height: 26.6667vw;
  margin-top: 3%;
}
.globes,
.content-container {
  position: absolute;
  width: 150%;
  height: 100%;
  left: 50%;
  top: 0;
  margin-left: -75%;
}
.globe {
  position: absolute;
  width: 33.33333%;
  height: 100%;
  top: 0;
  left: 16.66667%;
}
.globe:last-child {
  left: auto;
  right: 16.66667%;
}
.globe h2 {
  font-weight: normal;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  margin-left: -25%;
  font-size: 1rem;
  line-height: 1.8;
  color: var(--primary-color);
}
.globe canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.key {
  width: 78%;
  position: relative;
  margin: 4vw auto 0;
}
.key:after {
  content: "";
  display: table;
  clear: both;
}

.calendar-key {
  width: 25%;
  height: auto;
  float: left;
  margin-top: -3.75vw;
}
.calendar-key svg {
  width: 100%;
  height: auto;
  display: block;
}
.calendar-key text {
  fill: var(--primary-dark-color);
  font-size: 0.7vw;
}
#calendar {
  transform-origin: 50% 50%;
}
#calendar path {
  fill: var(--gray-color);
}
#calendar path:last-child {
  fill: var(--primary-color);
}

.calendar-key,
.calendar-key svg {
  -webkit-transform: translateZ(0);
}

.color-key {
  position: relative;
  width: auto;
  height: 0.7vw;
  margin-left: 30%;
  margin-right: 5%;
}
.color-key-canvas {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
}
.color-key .label {
  height: 1vw;
  position: absolute;
  top: -1vw;
  font-size: 0.8vw;
  letter-spacing: 0.01vw;
  color: var(--primary-dark-color);
}
.color-key .label:first-child {
  left: 0;
}
.color-key .label:last-child {
  right: 0;
}

.annotation {
  position: absolute;
  top: 10%;
  left: 2%;
  width: 16%;
  opacity: 0;
  transition: opacity 1s;
}
.annotation.content-both {
  left: 50%;
  margin-left: -6.5%;
  top: auto;
  bottom: 5%;
}
.annotation.content-atmosphere {
  left: auto;
  right: 2%;
  top: 40%;
}
.annotation.content-ocean {
  left: auto;
  top: 40%;
  left: 2%;
}
.annotation.content-hidden {
  visibility: hidden;
}
.annotation.content-image img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  display: block;
}
.annotation h3 {
  font-weight: normal;
  font-size: 1.6vh;
  letter-spacing: 0.05vh;
  margin-bottom: 0;
}
.annotation p {
  font-weight: normal;
  font-size: 1.2vh;
  line-height: 1.6;
  letter-spacing: 0.05vh;
  margin-top: 1vh;
}
.annotation.active {
  opacity: 1;
}

.key,
.content-container,
.globe h2,
.globe canvas:last-child {
  transition: opacity 2s ease-in-out;
}
.sleeping .key,
.sleeping .content-container,
.sleeping .globe h2,
.sleeping .globe canvas:last-child {
  opacity: 0;
}

#content-hadley-current {
  top: 50%;
}
#image-hadley-current {
  width: 33.33333%;
  height: 100%;
  left: auto;
  right: 16.66667%;
  transform-origin: 50% 50%;
  transform: rotate(23.5deg);
}
#image-hadley-current img {
  position: absolute;
  width: auto;
  height: 55%;
  left: auto;
  right: 16%;
  top: 12.5%;
}
