.app {
  overflow: auto;
}

.screen,
.deck {
  position: relative;
  width: 160vh;
  height: 90vh;
  margin: 0 auto;
  box-sizing: border-box;
  background: #111;
}
.deck {
  height: 46.48vh;
  border-top: 1vh solid #ccc;
}
.screen iframe {
  border: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.panel-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: none;
}
.panel-image.active {
  background: no-repeat;
  background-position: center center;
  background-size: contain;
}
.panel-image.active.double {
  background-size: auto 100%;
}
.panel-image.active.left {
  background-position: left center;
}
.panel-image.active.right {
  background-position: right center;
}
.consequences-change.active {
  background-image: url(../img/label_decks/consq1.jpg);
}
.consequences-mitigation.active {
  background-image: url(../img/label_decks/consq2.jpg);
}
.consequences-cascading.active {
  background-image: url(../img/label_decks/consq2.jpg);
}
.temperature-timescales.active {
  background-image: url(../img/label_decks/ww1.jpg);
}
.temperature-regions.active {
  background-image: url(../img/label_decks/ww2.jpg);
}
.temperature-forcings.active {
  background-image: url(../img/label_decks/ww2.jpg);
}
.system-greenhouse.active {
  background-image: url(../img/label_decks/hcw1.jpg);
}
.system-quiz.active {
  background-image: url(../img/label_decks/hcw2.jpg);
  width: 103%;
  left: -3%;
}
.system-ocean-atmosphere.active {
  background-image: url(../img/label_decks/hcw2.jpg);
}

.return-link,
.fullscreen-link {
  color: #ccc;
  font-size: 1vw;
  padding: 2rem;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  text-decoration: none;
}
.return-link:hover,
.fullscreen-link:hover {
  color: white;
}
.fullscreen-link {
  left: auto;
  right: 0;
}
.fullscreen-link span {
  display: inline-block;
  vertical-align: middle;
}
.fullscreen-link svg {
  display: inline-block;
  width: 1vw;
  height: 1vw;
  margin-left: 0.2vw;
  vertical-align: middle;
}
.fullscreen-link path {
  fill: #ccc;
}

.ui {
  position: absolute;
  background: none;
  left: 44%;
  top: 25%;
  transform: scale3d(0.75, 0.75, 0.75);
  transform-origin: 0 0;
}
.ui-slider {
  background: rgba(255, 255, 255, 0.2);
}
.ui-slider-horizontal {
  margin-top: 8vh;
  margin-left: 8vh;
}
.ui button {
  height: 6vh;
  width: 6vh;
  line-height: 6vh;
  border-radius: 50%;
}

.page-consequences-change .ui-slider-horizontal {
  margin-top: 0;
  margin-left: 6vh;
}
.page-consequences-change .ui button {
  margin-left: 2rem;
}
.page-consequences-mitigation .ui {
  left: 50%;
  top: 21%;
  transform: scale3d(0.5, 0.5, 0.5);
}
.page-consequences-cascading .ui {
  left: 61.55%;
  top: 21%;
  transform: scale3d(0.5, 0.5, 0.5);
}
.page-temperature-regions .ui {
  left: 42%;
}
.page-temperature-forcings .ui {
  width: 30%;
  left: 50%;
}
.page-temperature-forcings .ui button {
  text-indent: 200vw;
  overflow: hidden;
  margin-right: 7.5vh;
  margin-bottom: 10vh;
}
.page-system-ocean-atmosphere .ui {
  left: 48%;
}
.page-system-ocean-atmosphere .ui-slider-horizontal {
  transform: rotateZ(24deg);
}
.page-system-quiz .ui {
  left: 42.75%;
  top: 24%;
}
.page-system-quiz #button-right {
  margin-left: 14vh;
}

@media (max-aspect-ratio: 16/9) {
  .screen,
  .deck {
    width: 90vw;
    height: 50.625vw;
  }
  .deck {
    height: 26.14525vw;
  }
}
